<?xml version="1.0" encoding="utf-8" ?>
<root>
	<priceRange index="1" lower="0" upper="100" description="0-100元" />
	<priceRange index="2" lower="100" upper="200" description="100-200元" />
	<priceRange index="3" lower="200" upper="500" description="200-500元" />
	<priceRange index="4" lower="500" upper="1000" description="500-1000元" />
	<priceRange index="5" lower="1000" upper="99999999" description="1000元以上" />
	<!--<priceRange index="6" lower="2000" upper="5000" description="2000-5000元" />
	<priceRange index="7" lower="5000" upper="99999999" description="5000元以上" />-->
</root>
