<?xml version="1.0" encoding="utf-8" ?>
<root isEnable="true">
  <productMark>
    <!-- Special=0  Promotions = 1 , properties = 2 -->
      <!--exclusiontab互斥标签 例如：T代表特卖0代表互斥1代表不互斥 T:O就代表和特卖是互斥的-->
    <item name="FullCut" order="6" alias="FullCut" description="满减" searchKeyWord="满减" listView="" mapping="1" mappingSource="ManjianStructure|xml" exclusiontab="T:0|Q:0" />
    <item name="FullOfGifts" order="8" alias="FullOfGifts" description="满赠" searchKeyWord="满赠" listView="" mapping="1" mappingSource="ManZengStructure|xml" exclusiontab="T:1" />
    <item name="FullReturn" order="7" alias="FullReturn" description="满返" searchKeyWord="满返" listView="" mapping="1" mappingSource="ManfanStructure|xml" exclusiontab="T:0" />
    <item name="FullEReturn" order="10" alias="FullEReturn" description="满返" searchKeyWord="满返" listView="" mapping="1" mappingSource="ManEFanQuanStructure|xml" exclusiontab="T:0" />
    <item name="Audience" order="1000" alias="Audience" description="默认" searchKeyWord="" listView="" mapping="1" mappingSource="DetailSpecification|str" exclusiontab="T:0" />

    <item name="PreSale" order="9" alias="PreSale" description="预售" searchKeyWord="" listView="" mapping="0" mappingSource="" exclusiontab="T:0" />
    <!--<item name="Exclusive" order="1" alias="Exclusive" description="独家" searchKeyWord="独家" listView="" mapping="2" mappingSource="1|2"/>-->
      <item name="StraightDown" order="11" alias="StraightDown" description="直降" searchKeyWord="直降" listView="" mapping="0" mappingSource="" exclusiontab="T:0" />
  </productMark>
</root>