<?xml version="1.0" encoding="utf-8" ?>
<root>
  <sortWeight>
    <!--<default sort="0" health="90" model="80" productType="250" sale="60" timeToMarket="50" publishdate="40" ></default>-->

     <default sort="0" health="20" model="0" productType="0" sale="30" timeToMarket="60" publishdate="40" ></default>
  </sortWeight>
</root>