@model Baike.Pagebuild.Models.ListPageModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <title>@Model.Title</title>
    <meta name="keywords" content="@Model.Keywords">
    <meta name="description" content="@Model.Description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" type="text/css" href="http://www.cakeok.cn/statics/css/content/base.css" />
    <link rel="stylesheet" type="text/css" href="http://www.cakeok.cn/statics/css/content/info.css" />
    <link rel="stylesheet" type="text/css" href="http://www.cakeok.cn/statics/css/content/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" href="http://www.cakeok.cn/statics/css/content/gotop.css" />
    <script type="text/javascript" src="http://www.cakeok.cn/statics/js/content/jquery.js"></script>
    <script type="text/javascript" src="http://www.cakeok.cn/statics/js/content/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="http://www.cakeok.cn/statics/js/content/buttonLite.js"></script>
    <script type="text/javascript" src="http://www.cakeok.cn/statics/js/content/common.js"></script>
    <base href="http://www.cakeok.cn/" />
</head>
<body>
    <!--  header  -->
    <div class="header">
        <div class="wrap clearfix">
            <div class="weclome fl" id="lbl_user">
                您好，欢迎来到焙友之家       
            </div>
            <div class="menu fr">
                <a href="http://www.cakeok.cn/" title="焙友之家首页" target="_blank">焙友之家</a>
                <a target="_blank" href="http://bqt.cakeok.cn/">焙企通</a>&nbsp;&nbsp;
                <a target="_blank" href="http://www.cakeok.cn/beiyoushangxueyuan/">焙友商学院</a>&nbsp;&nbsp;
                <a target="_blank" href="http://www.cakeok.cn/html/hangyeguancha/">采购指南</a>&nbsp;&nbsp;
                <a target="_blank" href="http://www.cakeok.cn/index.php?m=content&c=index&a=lists&catid=429">焙友杂志</a>&nbsp;&nbsp;
                <a target="_blank" href="http://job.cakeok.cn">人才服务</a>&nbsp;&nbsp;
                <a target="_blank" href="http://www.cakeok.cn/hongbeizixun/">烘焙资讯</a>&nbsp;&nbsp;

            </div>
        </div>
    </div>
    <!--  hr-header  -->
    <div class="info-header">
        <div class="wrap clearfix">
            <div class="logo fl"><h1><a href="http://www.cakeok.cn/index.php?m=content&c=index&a=lists&catid=19" title="焙友之家烘焙资讯"><img src="http://www.cakeok.cn/statics/css/content/images/logo_news.jpg" alt="焙友之家烘焙资讯" /></a></h1></div>
            <div class="search fr">
                <form action="http://www.cakeok.cn/index.php" method="get" target="_blank">
                    <input type="hidden" name="m" value="search" />
                    <input type="hidden" name="c" value="index" />
                    <input type="hidden" name="a" value="init" />
                    <input type="hidden" name="typeid" value="1" id="typeid" />
                    <input type="hidden" name="siteid" value="1" id="siteid" />
                    <input type="text" class="text" name="q" id="q" onblur="if(this.value==''){ this.value='请输入关键字' }"
                           onclick="if(this.value=='请输入关键字') {this.value='';}" value="请输入关键字" /><input type="submit" value="" class="submit" />
                </form>
                <div class="search-label">

                </div>
            </div>
        </div>
    </div>
    <!-- nav -->
    <div class="nav">
        <div class="wrap">
            <ul class="nav-list clearfix">

                <li><a href="http://www.cakeok.cn/hongbeizixun/">首页</a></li>

                <li><a href="http://www.cakeok.cn/remaixinpin/" class="curr">热卖新品</a></li>
                <li><a href="http://www.cakeok.cn/yingxiaoguanli/">营销管理</a></li>
                <li><a href="http://www.cakeok.cn/caigouzhinan/">采购指南</a></li>
                <li><a href="http://www.cakeok.cn/hangyeredian/">行业热点</a></li>
                <li><a href="http://www.cakeok.cn/beiyouhuodong/">焙友活动</a></li>
                <li><a href="http://www.cakeok.cn/ziyuan/">资源类资讯</a></li>
            </ul>
        </div>
    </div>
    <!--   -->     <!--  index-main  -->
    <div class="index-main mt20 wrap clearfix" id="main">
        <div class="wrap-left fl">
            <!-- 分类-->
            <div class="info-subpage">
                <h1>热卖新品</h1>
            </div>
            <div class="info-index-l1 info-subpage-list">
                <!-- 内容列表-->   
                <ul>
                    <li>
                        <div class="img">
                            <a href="http://www.cakeok.cn/2014/0827/4648066.html" title="爱吃糖果无下限" target="_blank">
                                <img src="http://www.cakeok.cn/uploadfile/2014/0827/20140827025554625.jpg" onload="zonstar.LoadImage(this,180,130)" alt="爱吃糖果无下限" title="爱吃糖果无下限" style="width: 180px; height: 130px; padding: 0px;" />
                            </a>
                        </div>
                        <div class="con">
                            <h3>
                                <a href="http://www.cakeok.cn/2014/0827/4648066.html" title="爱吃糖果无下限" target="_blank">爱吃糖果无下限</a>
                            </h3>
                            <p>
                                长辈们总说：不要吃太多糖果，牙齿会被虫子打洞的！你听话了吗？
                            </p>
                            <div>
                                2014-08-27 14:51  标签：
                                <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=糖果" title="糖果">糖果</a>
                                |
                                <span class="share">
                                    <div class="share-wrap">
                                        <div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_tqf" data-cmd="tqf" title="分享到腾讯朋友"></a><a href="#" class="bds_more" data-cmd="more"></a></div>
                                        <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "1", "bdSize": "16" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
                                    </div>
                                </span>|
                                <a href="http://www.cakeok.cn/2014/0827/4648066.html#comment_iframe" rel="nofollow" class="reply" target="_blank">0</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <a href="http://www.cakeok.cn/2014/0827/4648063.html" title="沉稳持重的维也纳沙架" target="_blank">
                                <img src="http://www.cakeok.cn/uploadfile/2014/0827/20140827022556864.jpg" onload="zonstar.LoadImage(this,180,130)" alt="沉稳持重的维也纳沙架" title="沉稳持重的维也纳沙架" style="width: 180px; height: 130px; padding: 0px;" />
                            </a>
                        </div>
                        <div class="con">
                            <h3>
                                <a href="http://www.cakeok.cn/2014/0827/4648063.html" title="沉稳持重的维也纳沙架" target="_blank">沉稳持重的维也纳沙架</a>
                            </h3>
                            <p>
                                传统的巧克力蛋糕和传统的沙架淋面的美妙组合，简直太搭啦！
                            </p>
                            <div>
                                2014-08-27 14:20  标签：
                                <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=维也纳" title="维也纳">维也纳</a>
                                <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=沉稳" title="沉稳">沉稳</a>
                                <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=沙架" title="沙架">沙架</a>
                                |
                                <span class="share">
                                    <div class="share-wrap">
                                        <div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_tqf" data-cmd="tqf" title="分享到腾讯朋友"></a><a href="#" class="bds_more" data-cmd="more"></a></div>
                                        <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "1", "bdSize": "16" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
                                    </div>
                                </span>|
                                <a href="http://www.cakeok.cn/2014/0827/4648063.html#comment_iframe" rel="nofollow" class="reply" target="_blank">0</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <a href="http://www.cakeok.cn/2014/0827/4648058.html" title="美式香蕉面包" target="_blank">
                                <img src="http://www.cakeok.cn/uploadfile/2014/0827/20140827111054640.jpg" onload="zonstar.LoadImage(this,180,130)" alt="美式香蕉面包" title="美式香蕉面包" style="width: 180px; height: 130px; padding: 0px;" />
                            </a>
                        </div>
                        <div class="con">
                            <h3>
                                <a href="http://www.cakeok.cn/2014/0827/4648058.html" title="美式香蕉面包" target="_blank">美式香蕉面包</a>
                            </h3>
                            <p>　　美式香蕉面包（banana bread）虽然直译叫做香蕉面包，但是口感等于蛋糕，叫它香蕉蛋糕可能更合适。不用酵母，用小苏打就可以做出蓬松   </p>
                            <div>
                                2014-08-27 10:55  标签：
                                <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=香蕉" title="香蕉">香蕉</a>
                                <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=面包" title="面包">面包</a>
                                |
                                <span class="share">
                                    <div class="share-wrap">
                                        <div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_tqf" data-cmd="tqf" title="分享到腾讯朋友"></a><a href="#" class="bds_more" data-cmd="more"></a></div>

                                    </div>
                                </span>|
                                <a href="http://www.cakeok.cn/2014/0827/4648058.html#comment_iframe" rel="nofollow" class="reply" target="_blank">0</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <a href="http://www.cakeok.cn/2014/0827/4648054.html" title="面包最爱椰蓉馅" target="_blank">
                                <img src="http://www.cakeok.cn/uploadfile/2014/0827/20140827103938641.jpg" onload="zonstar.LoadImage(this,180,130)" alt="面包最爱椰蓉馅" title="面包最爱椰蓉馅" style="width: 180px; height: 130px; padding: 0px;" />
                            </a>
                        </div>
                        <div class="con">
                            <h3>
                                <a href="http://www.cakeok.cn/2014/0827/4648054.html" title="面包最爱椰蓉馅" target="_blank">面包最爱椰蓉馅</a>
                            </h3>
                            <p>椰蓉面包　　椰蓉花形面包(分量：4个)　　配料：　　面包面团：高筋面粉140克，水80克，干酵母1小勺(5ML)，细砂糖25克，盐1 4小勺(1 25ML)   </p>
                            <div>
                                2014-08-27 10:32  标签：
                                <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=椰蓉" title="椰蓉">椰蓉</a>
                                <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=面包" title="面包">面包</a>
                                <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=最爱" title="最爱">最爱</a>
                                |
                                <span class="share">
                                    <div class="share-wrap">
                                        <div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_tqf" data-cmd="tqf" title="分享到腾讯朋友"></a><a href="#" class="bds_more" data-cmd="more"></a></div>

                                    </div>
                                </span>|
                                <a href="http://www.cakeok.cn/2014/0827/4648054.html#comment_iframe" rel="nofollow" class="reply" target="_blank">0</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <a href="http://www.cakeok.cn/2014/0827/4648044.html" title="与众不同的天鹅泡芙" target="_blank">
                                <img src="http://www.cakeok.cn/uploadfile/2014/0827/20140827091004169.jpg" onload="zonstar.LoadImage(this,180,130)" alt="与众不同的天鹅泡芙" title="与众不同的天鹅泡芙" style="width: 180px; height: 130px; padding: 0px;" />
                            </a>
                        </div>
                        <div class="con">
                            <h3>
                                <a href="http://www.cakeok.cn/2014/0827/4648044.html" title="与众不同的天鹅泡芙" target="_blank">与众不同的天鹅泡芙</a>
                            </h3>
                            <p>有人说：因为奶油和蛋糕走进了婚礼的殿堂，所以有了奶油蛋糕。而深爱着奶油的面包只能把爱埋在心里，变成了一只泡芙 当你咬下第一口，你就会爱上它。</p>
                            <div>
                                2014-08-27 09:08  标签：
                                <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=泡芙" title="泡芙">泡芙</a>
                                |
                                <span class="share">
                                    <div class="share-wrap">
                                        <div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_tqf" data-cmd="tqf" title="分享到腾讯朋友"></a><a href="#" class="bds_more" data-cmd="more"></a></div>

                                    </div>
                                </span>|
                                <a href="http://www.cakeok.cn/2014/0827/4648044.html#comment_iframe" rel="nofollow" class="reply" target="_blank">0</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <a href="http://www.cakeok.cn/2014/0826/4648041.html" title="色彩艳丽的长颈鹿蛋糕卷" target="_blank">
                                <img src="http://www.cakeok.cn/uploadfile/2014/0826/20140826045831100.jpg" onload="zonstar.LoadImage(this,180,130)" alt="色彩艳丽的长颈鹿蛋糕卷" title="色彩艳丽的长颈鹿蛋糕卷" style="width: 180px; height: 130px; padding: 0px;" />
                            </a>
                        </div>
                        <div class="con">
                            <h3>
                                <a href="http://www.cakeok.cn/2014/0826/4648041.html" title="色彩艳丽的长颈鹿蛋糕卷" target="_blank">色彩艳丽的长颈鹿蛋糕卷</a>
                            </h3>
                            <p>　　色彩艳丽的蛋糕卷看着如此让人心动！就像生活中的一切美好，甜蜜绵软娇柔可爱，忍不住要去体会分享！　　每次去动物园最喜欢看长颈鹿的   </p>
                            <div>
                                2014-08-26 16:47  标签：
                                <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=长颈鹿" title="长颈鹿">长颈鹿</a>
                                <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=蛋糕" title="蛋糕">蛋糕</a>
                                <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=色彩" title="色彩">色彩</a>
                                |
                                <span class="share">
                                    <div class="share-wrap">
                                        <div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_tqf" data-cmd="tqf" title="分享到腾讯朋友"></a><a href="#" class="bds_more" data-cmd="more"></a></div>

                                    </div>
                                </span>|
                                <a href="http://www.cakeok.cn/2014/0826/4648041.html#comment_iframe" rel="nofollow" class="reply" target="_blank">0</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <a href="http://www.cakeok.cn/2014/0826/4648039.html" title="紫薯山药糕" target="_blank">
                                <img src="http://www.cakeok.cn/uploadfile/2014/0826/20140826043802997.jpg" onload="zonstar.LoadImage(this,180,130)" alt="紫薯山药糕" title="紫薯山药糕" style="width: 180px; height: 130px; padding: 0px;" />
                            </a>
                        </div>
                        <div class="con">
                            <h3>
                                <a href="http://www.cakeok.cn/2014/0826/4648039.html" title="紫薯山药糕" target="_blank">紫薯山药糕</a>
                            </h3>
                            <p>　　紫薯营养丰富具特殊保健功能，它含有20%左右的蛋白质，包括18种氨基酸，易被人体消化和吸收，其中包括维生素C、B、A等8种维生素和磷、   </p>
                            <div>
                                2014-08-26 16:32  标签：
                                <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=山药" title="山药">山药</a>
                                |
                                <span class="share">
                                    <div class="share-wrap">
                                        <div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_tqf" data-cmd="tqf" title="分享到腾讯朋友"></a><a href="#" class="bds_more" data-cmd="more"></a></div>

                                    </div>
                                </span>|
                                <a href="http://www.cakeok.cn/2014/0826/4648039.html#comment_iframe" rel="nofollow" class="reply" target="_blank">0</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <a href="http://www.cakeok.cn/2014/0826/4648038.html" title="奶酪辣椒饼干" target="_blank">
                                <img src="http://www.cakeok.cn/uploadfile/2014/0826/20140826042112535.jpg" onload="zonstar.LoadImage(this,180,130)" alt="奶酪辣椒饼干" title="奶酪辣椒饼干" style="width: 180px; height: 130px; padding: 0px;" />
                            </a>
                        </div>
                        <div class="con">
                            <h3>
                                <a href="http://www.cakeok.cn/2014/0826/4648038.html" title="奶酪辣椒饼干" target="_blank">奶酪辣椒饼干</a>
                            </h3>
                            <p>　　酥脆的饼干是很多人的最爱，可是那千篇一律的口味着实叫人生厌，今天焙友之家小编就为大家带来一款奶酪辣椒饼干。奶酪辣椒饼干　　材料   </p>
                            <div>
                                2014-08-26 16:01  标签：
                                <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=奶酪" title="奶酪">奶酪</a>
                                <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=饼干" title="饼干">饼干</a>
                                <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=辣椒" title="辣椒">辣椒</a>
                                |
                                <span class="share">
                                    <div class="share-wrap">
                                        <div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_tqf" data-cmd="tqf" title="分享到腾讯朋友"></a><a href="#" class="bds_more" data-cmd="more"></a></div>

                                    </div>
                                </span>|
                                <a href="http://www.cakeok.cn/2014/0826/4648038.html#comment_iframe" rel="nofollow" class="reply" target="_blank">0</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <a href="http://www.cakeok.cn/2014/0826/4648037.html" title="冰皮月饼" target="_blank">
                                <img src="http://www.cakeok.cn/uploadfile/2014/0826/20140826041539401.jpg" onload="zonstar.LoadImage(this,180,130)" alt="冰皮月饼" title="冰皮月饼" style="width: 180px; height: 130px; padding: 0px;" />
                            </a>
                        </div>
                        <div class="con">
                            <h3>
                                <a href="http://www.cakeok.cn/2014/0826/4648037.html" title="冰皮月饼" target="_blank">冰皮月饼</a>
                            </h3>
                            <p>冰皮与老式月饼的区别，在于不油腻、糖分少对健康有利。</p>
                            <div>
                                2014-08-26 16:13  标签：
                                <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=月饼" title="月饼">月饼</a>
                                |
                                <span class="share">
                                    <div class="share-wrap">
                                        <div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_tqf" data-cmd="tqf" title="分享到腾讯朋友"></a><a href="#" class="bds_more" data-cmd="more"></a></div>

                                    </div>
                                </span>|
                                <a href="http://www.cakeok.cn/2014/0826/4648037.html#comment_iframe" rel="nofollow" class="reply" target="_blank">0</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <a href="http://www.cakeok.cn/2014/0826/4648035.html" title="蓝色妖姬翻糖蛋糕" target="_blank">
                                <img src="http://www.cakeok.cn/uploadfile/2014/0826/20140826034309891.jpg" onload="zonstar.LoadImage(this,180,130)" alt="蓝色妖姬翻糖蛋糕" title="蓝色妖姬翻糖蛋糕" style="width: 180px; height: 130px; padding: 0px;" />
                            </a>
                        </div>
                        <div class="con">
                            <h3>
                                <a href="http://www.cakeok.cn/2014/0826/4648035.html" title="蓝色妖姬翻糖蛋糕" target="_blank">蓝色妖姬翻糖蛋糕</a>
                            </h3>
                            <p>蓝色妖姬翻糖蛋糕，它象征着一种永恒，一种对美好生活的向往。</p>
                            <div>
                                2014-08-26 15:35  标签：
                                <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=蛋糕" title="蛋糕">蛋糕</a>
                                <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=蓝色" title="蓝色">蓝色</a>
                                |
                                <span class="share">
                                    <div class="share-wrap">
                                        <div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_tqf" data-cmd="tqf" title="分享到腾讯朋友"></a><a href="#" class="bds_more" data-cmd="more"></a></div>
                                        <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "1", "bdSize": "16" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
                                    </div>
                                </span>|
                                <a href="http://www.cakeok.cn/2014/0826/4648035.html#comment_iframe" rel="nofollow" class="reply" target="_blank">0</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="Prompt" style="text-align: center; margin-top:20px;">
            </div>  
            <!-- 分页-->
            <div id="pages" class="pages">
                 <span class="disabled">上一页</span> <span class="current">1</span> <a href="/remaixinpin/2.html">2</a> <a href="/remaixinpin/3.html">3</a> <a href="/remaixinpin/4.html">4</a> <a href="/remaixinpin/5.html">5</a> <a href="/remaixinpin/6.html">6</a> <a href="/remaixinpin/7.html">7</a> <a href="/remaixinpin/8.html">8</a> <a href="/remaixinpin/9.html">9</a> <a href="/remaixinpin/10.html">10</a> ..<a href="/remaixinpin/21.html">21</a> <a href="/remaixinpin/2.html" class="a1">下一页</a>
            </div>
        </div>
        <!-- wrap-left end -->
        <div class="wrap-right fr">
            <div class="info-box">
                <div class="info-box-bar clearfix">
                    <h4>
                        <a>本月热门</a>
                    </h4>
                </div>
                <div class="info-week-news">
                    <ul>
                        <li><a href="http://www.cakeok.cn/2014/0801/4647642.html" target="_blank" title="5款营养吐司 视觉系快手早餐">5款营养吐司 视觉系快手早餐</a></li>
                        <li><a href="http://www.cakeok.cn/2014/0730/4647583.html" target="_blank" title="手撕面包 撕出新奇好味道">手撕面包 撕出新奇好味道</a></li>
                        <li><a href="http://www.cakeok.cn/2014/0731/4647608.html" target="_blank" title="情人节迷你小蛋糕">情人节迷你小蛋糕</a></li>
                        <li><a href="http://www.cakeok.cn/2014/0714/4647366.html" target="_blank" title="颠倒众生的菠萝蛋糕秘方">颠倒众生的菠萝蛋糕秘方</a></li>
                        <li><a href="http://www.cakeok.cn/2014/0805/4647699.html" target="_blank" title="免烤芝士蛋糕 懒人吃货的福音">免烤芝士蛋糕 懒人吃货的福音</a></li>
                        <li><a href="http://www.cakeok.cn/2014/0801/4647634.html" target="_blank" title="最适合朋友相聚的手礼蛋糕—拜拜蛋糕">最适合朋友相聚的手礼蛋糕—拜拜蛋糕</a></li>
                        <li><a href="http://www.cakeok.cn/2014/0808/4647779.html" target="_blank" title="哈根达斯月饼">哈根达斯月饼</a></li>
                        <li><a href="http://www.cakeok.cn/2014/0721/4647458.html" target="_blank" title="“舒芙蕾”的制作方法">“舒芙蕾”的制作方法</a></li>
                        <li><a href="http://www.cakeok.cn/2014/0806/4647725.html" target="_blank" title="优雅的法式风情----手指泡芙">优雅的法式风情----手指泡芙</a></li>
                        <li><a href="http://www.cakeok.cn/2014/0805/4647669.html" target="_blank" title="最实在的蛋糕—豆腐蛋糕">最实在的蛋糕—豆腐蛋糕</a></li>
                    </ul>

                </div>
            </div>

            <div class="index-right-ad">

            </div>
            <div class="info-box">
                <div class="info-box-bar clearfix">
                    <h4>
                        <a>本周热门</a>
                    </h4>
                </div>
                <div class="info-week-news">
                    <ul class="content rank">
                        <li><a href="http://www.cakeok.cn/2014/0815/4647906.html" style="" class="title" title="5种咖啡味甜品的做法">5种咖啡味甜品的做法</a></li>
                        <li><a href="http://www.cakeok.cn/2014/0826/4648041.html" style="" class="title" title="色彩艳丽的长颈鹿蛋糕卷">色彩艳丽的长颈鹿蛋糕卷</a></li>
                        <li><a href="http://www.cakeok.cn/2014/0822/4647977.html" style="" class="title" title="爱Coffee：4种咖啡味甜品的做法">爱Coffee：4种咖啡味甜品的做法</a></li>
                        <li><a href="http://www.cakeok.cn/2014/0812/4647829.html" style="" class="title" title="紫薯+胡萝卜，打造健康美味彩色【双色土司】">紫薯+胡萝卜，打造健康美味彩色【双...</a></li>
                        <li><a href="http://www.cakeok.cn/2014/0822/4647979.html" style="" class="title" title="不容错过的最柔软的戚风蛋糕">不容错过的最柔软的戚风蛋糕</a></li>
                        <li><a href="http://www.cakeok.cn/2014/0721/4647450.html" style="" class="title" title="相片蛋糕完爆眼球，甜蜜来袭">相片蛋糕完爆眼球，甜蜜来袭</a></li>
                        <li><a href="http://www.cakeok.cn/2014/0811/4647787.html" style="" class="title" title="童趣盎然的星星派皮">童趣盎然的星星派皮</a></li>
                        <li><a href="http://www.cakeok.cn/2014/0808/4647777.html" style="" class="title" title="抹茶菠萝包——爱的味道">抹茶菠萝包——爱的味道</a></li>
                        <li><a href="http://www.cakeok.cn/2014/0822/4647975.html" style="" class="title" title="分分钟就能做好的10款免烤芝士蛋糕（2）">分分钟就能做好的10款免烤芝士蛋糕（2）</a></li>
                        <li><a href="http://www.cakeok.cn/2014/0825/4648013.html" style="" class="title" title="纸杯篮子蛋糕，一篮春色满口甜香">纸杯篮子蛋糕，一篮春色满口甜香</a></li>
                    </ul>

                </div>
            </div>

            <div class="info-box mt20">
                <div class="info-box-bar clearfix">
                    <h4>
                        <a>热门标签</a>
                    </h4>

                </div>
                <div class="info-index-label">
                    <div class="hot-label">

                        <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=%E9%A5%BC%E5%BA%97"
                           style="color: #FF0000"
                           target="_blank">饼店</a>

                        <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=%E7%83%98%E7%84%99"
                           style="color: #0000FF"
                           target="_blank">烘焙</a>

                        <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=%E8%9B%8B%E7%B3%95"
                           target="_blank">蛋糕</a>

                        <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=%E9%9D%A2%E5%8C%85"
                           target="_blank">面包</a>

                        <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=%E7%94%9C%E5%93%81"
                           style="color: #99CC66"
                           target="_blank">甜品</a>

                        <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=%E9%A5%BC%E5%BA%97%E8%90%A5%E9%94%80"
                           style="color: #336600"
                           target="_blank">饼店营销</a>

                        <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=%E5%BA%97%E9%95%BF"
                           target="_blank">店长</a>

                        <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=%E6%9C%88%E9%A5%BC"
                           style="color: #3300FF"
                           target="_blank">月饼</a>

                        <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=%E9%A1%BE%E5%AE%A2"
                           target="_blank">顾客</a>

                        <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=%E5%BE%AE%E4%BF%A1%E8%90%A5%E9%94%80"
                           target="_blank">微信营销</a>

                        <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=%E9%9D%A2%E5%8C%85%E5%BA%97"
                           target="_blank">面包店</a>

                        <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=%E7%84%99%E5%8F%8B%E4%B9%8B%E5%AE%B6"
                           target="_blank">焙友之家</a>

                        <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=%E5%B7%A7%E5%85%8B%E5%8A%9B"
                           target="_blank">巧克力</a>

                        <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=%E7%94%9C%E7%82%B9"
                           target="_blank">甜点</a>

                        <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=%E4%B8%9A%E7%BB%A9"
                           style="color: #006633"
                           target="_blank">业绩</a>

                        <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=%E4%BF%83%E9%94%80%E6%B4%BB%E5%8A%A8"
                           target="_blank">促销活动</a>

                        <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=%E8%AE%AD%E7%BB%83%E8%90%A5"
                           target="_blank">训练营</a>

                        <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=%E4%BF%83%E9%94%80"
                           target="_blank">促销</a>

                        <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=%E6%8A%80%E5%B7%A7"
                           target="_blank">技巧</a>

                        <a href="http://www.cakeok.cn/index.php?m=content&c=tag&a=lists&tag=%E9%A5%BC%E6%88%BF"
                           target="_blank">饼房</a>

                    </div>
                </div>
            </div>

        </div>
        <!--底部横幅-->
        <div class="index-left-ad">
        </div>
        <!-- wrap-right end -->
    </div>
    <!--  footer  -->

    <div class="footer">
        <div class="wrap">
            <div class="footer-nav">
                <a href="http://www.cakeok.cn/html/wangzhanjieshao/about/" target="_blank" style="color:#369;">关于我们</a> <span>│</span>

                <a href="http://www.cakeok.cn/html/wangzhanjieshao/lianxifangshi/" target="_blank" style="color:#369;">联系方式</a> <span>│</span>

                <a href="http://www.cakeok.cn/html/wangzhanjieshao/zhaoshang/" target="_blank" style="color:#369;">招商合作</a> <span>│</span>

                <a href="http://www.cakeok.cn/html/wangzhanjieshao/banquanshengming/" target="_blank" style="color:#369;">版权声明</a> <span>│</span>

                <a href="http://www.cakeok.cn/html/wangzhanjieshao/sitemap/" target="_blank" style="color:#369;">网站地图</a> <span>│</span>

                <a href="http://www.cakeok.cn/html/wangzhanjieshao/reagreement/" target="_blank" style="color:#369;">服务条款</a> <span>│</span>

                <a href="http://www.cakeok.cn/index.php?m=link" target="_blank" style="color:#369;">友情链接</a><span>│</span> <a href="http://old.cakeok.cn/" target="_blank" style="color:#999;">旧网站</a>
            </div>
            <div class="touch">
                服务热线：
                <span>400-690-1618</span>
                <span>0371-62003659</span>
                <span>0371-62003656</span>
                客服QQ：
                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2373960736&amp;site=qq&amp;menu=yes" rel="nofollow" target="_blank"><img border="0" style="vertical-align:middle" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://www.cakeok.cn/statics/css/index/images/button_51.gif"> 2373960736</a>
                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2439139435&amp;site=qq&amp;menu=yes" rel="nofollow" target="_blank"><img border="0" style="vertical-align:middle" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://www.cakeok.cn/statics/css/index/images/button_51.gif"> 2439139435</a>
            </div>
            <div class="copyright">
                备案号：豫ICP备13010679号-7&nbsp;&nbsp;增值电信业务经营许可证:豫B2-20130055
                <p>Copyright © 2007-2011 www.Cakeok.Cn All Rights Reserved. 焙友之家 版权所有未经许可不得转载</p>

            </div>
        </div>
    </div>

</body>
</html>