<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="LoggingProvider" type="Huiqi.Framework.Logging.ProviderConfigurationSection,Huiqi.Framework"/>
  </configSections>
  <appSettings>
    <add key="Renative.Framework.Data.Configuration.DataConnectionFile" value="/Configuration/data/connections.config"/>
    <add key="Renative.Framework.Data.Configuration.DataCommandFile" value="/Configuration/data/commandfiles.config"/>
    <!--solr的服务地址-->
    <add key="solr.webpage.ServerUrl" value="http://127.0.0.1:8080/solr/webpage"/>
    <add key="interval" value="23:00:00"/>
    <!--solr链接超时时间 毫秒，建议在buildindex时 根据数据量调大-->
    <add key="easynet.solr.timeout" value="300000"/>
    <!-- solr缓存配置 NullCache-->
    <add key="easynet.solr.cacheimpl" value="EasyNet.Solr.Impl.HttpRuntimeCache"/>
    <!-- 建立索引时 一次post的数量-->
    <add key="solr.postdoccount.postcount" value="1000"/>
    <!-- 将qqi的文件拷贝到目的地址-->
    <add key="lvtuan.net.rootpath" value="D:\tmp\download"/>
    <add key="hiweixin.img.rootpath" value="D:\website\changjiangit.com\jiahaohk.changjiangit.com\weixin\upload\images"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="ConnString" connectionString="server=(local);uid=sa;pwd=abcd@123;database=Baike;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
 
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <add name="EF Tracing Data Provider" invariant="EFTracingProvider" description="Tracing Provider Wrapper" type="EFTracingProvider.EFTracingProviderFactory, EFTracingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b"/>
      <add name="EF Generic Provider Wrapper" invariant="EFProviderWrapper" description="Generic Provider Wrapper" type="EFProviderWrapperToolkit.EFProviderWrapperFactory, EFProviderWrapperToolkit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b"/>
    </DbProviderFactories>
  </system.data>
  <!--日志记录组建配置-->
  <log4net>

    <logger name="ExceptionLogger">
      <level value="All"/>
      <appender-ref ref="ExceptionFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>

    <logger name="InfoLogger">
      <level value="All"/>
      <appender-ref ref="InfoFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>

    <!-- 日志文件部分log输出格式的设定 -->
    <appender name="ExceptionFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Exception_"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd'.log'"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="------------------------------------------------------------
"/>
        <ConversionPattern value="%date [%thread] - %message%newline"/>
      </layout>
    </appender>

    <!-- Console部分log输出格式的设定 -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] - %message%newline"/>
      </layout>
    </appender>

    <!-- 日志文件部分log输出格式的设定 -->
    <appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Info_"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd'.log'"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="------------------------------------------------------------
"/>
        <ConversionPattern value="%date [%thread] - %message%newline"/>
      </layout>
    </appender>

    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ALL"/>
      <appender-ref ref="InfoFileAppender"/>
    </root>
  </log4net>
  
  
</configuration>
