<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ConfigSettings" type="Huiqi.Framework.Configuration.ConfigSettings, Huiqi.Framework"/>
	</configSections>

	<!-- 
		extensions:
			系统会先搜索扩展名为.config配置文件，然后再搜索扩展名为.xml配置文件
			Website.config / Website.xml 认为是同一个文件，优先匹配Website.config
	-->
  <ConfigSettings defaultProvider="XmlConfig">
    <providers>
      <add name="XmlConfig" type="Huiqi.Framework.Configuration.XmlConfig.XmlConfigSource, Huiqi.Framework" />
      <add name="DotNetConfig" type="Huiqi.Framework.Configuration.DotNetConfig.DotNetConfigSource, Huiqi.Framework" />
      <add name="DataSetXmlConfig" type="Huiqi.Framework.Configuration.DataSetXmlConfig.DataSetXmlConfigSource, Huiqi.Framework" />
    </providers> 
  </ConfigSettings>
</configuration>